{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row text-center">
        <div class="col-lg-7">
            <a href="{{ url_for('profile', username=current_user.username) }}">← Back</a>
            <h2>Edit Profile</h2>
            <div class="card">
                <div class="card-block">
                    <div class="card-body">
                        <!-- Profile picture -->
                        <img src="{{ current_user.avatar(80) }}"
                        class="rounded-circle mb-3"
                        width="80" height="80"
                        alt="{{ current_user.username }}">
                        <!-- End profile picture -->

                        <!-- Profile details -->
                        <form action="" method="post" novalidate>
                            {{ form.hidden_tag() }}
                            <!-- First Name & Last Name side by side -->
                                <div class="row">
                                    <div class="col-sm-6 mb-3">
                                        <p>
                                            {{ form.first_name.label }} <br>
                                            {{ form.first_name(size=32) }} <br>
                                            {% for error in form.first_name.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </p>
                                    </div>
                                    <div class="col-sm-6 mb-3">
                                        <p>
                                            {{ form.last_name.label }} <br>
                                            {{ form.last_name(size=32) }} <br>
                                            {% for error in form.last_name.errors %}
                                            <span style="color: red;">{{ error }}</span>
                                            {% endfor %}
                                        </p>
                                    </div>
                                </div>
                                <p>
                                    {{ form.username.label }} <br>
                                    {{ form.username(size=32) }} <br>
                                    {% for error in form.username.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                </p>
                                <p>
                                    {{ form.bio.label }} <br>
                                    {{ form.bio(cols=50, rows=4) }} <br>
                                </p>
                                <p>
                                    {{ form.location.label }} <br>
                                    {{ form.location(cols=50, rows=4) }} <br>
                                </p>
                                <p>
                                    {{ form.website.label }} <br>
                                    {{ form.website(cols=50, rows=4) }} <br>
                                </p>
                                <p>
                                    {{ form.submit() }}
                                </p>
                        </form>
                        <!-- End profile details -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}