{% extends 'base.html' %}

{% block content %}
<div class="row text-center">
    <div class="col-md-4">
        <!-- Empty column -->
    </div>
    <div class="col-md-4">
        <div class="card-deck">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Forgot password?</h4>
                    <p>Enter your email and we'll send a reset link.</p>

                    <p class="card-text">
                        <div class="register_form">
                            <form action="" method="post" novalidate>
                                {{ form.hidden_tag() }}
                                <p>
                                    {{ form.email.label }} <br>
                                    {{ form.email(size=32) }} <br>
                                    {% for error in form.email.errors %}
                                    <span style="color: red;">
                                        {{ error }}
                                    </span>
                                    {% endfor %}
                                </p>
                                <p>
                                    {{ form.submit() }}
                                </p>
                            </form>
                            <p>
                                Remember it? <a href="{{  url_for('login')  }}">Back to Sign In</a>
                            </p>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Empty column -->
    </div>

</div>
{% endblock %}