{% extends 'base.html' %}

{% block content %}
<!-- Start Blue Band -->
 <section class="blue_band">
<div class="row text-center">
    <div class="col-md-4">
        <!-- Empyy column -->
    </div>
    <div class="col-md-4">
        <p>✦ Your space to think out loud</p>
        <h2>Where ideas <br> find their voice.</h2>
        <p>
            Nova is a clean, distraction-free platform for sharing <br>
            thoughts, sparking conversations, and connecting with <br>
            people who think deeply.
        </p>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button">Start for free</button>
            <button class="btn btn-primary" type="button">Sign In</button>
        </div>
        <h3>10k+ <br> Members</h3>
        <h3>50k+ <br> Posts</h3>
        <h3> 100% <br> AD-Free</h3>
    </div>
    <div class="col-md-4">
        <!-- Insert Image -->
    </div>
    <div class="col-md-4">
        <!-- Empty column -->
    </div>
</div>
</section>

<!-- Start White band -->
<section class="white_band">
<div class="row text-center">
    <div class="col-md-3">
        <!-- Empty column -->
    </div>
    <div class="col-md-6">
        <h3>Why Nova</h3>
        <h2>
            Everything you need, <br>
            nothing you don't.
        </h2>

    </div>
    <div class="col-md-3">
        <!-- Empty column -->
    </div>
</div>
</section>

<!-- Start Beige band -->
<section class="beige_band">
    <div class="row text-center">
        <div class="col-md-12">
            <h2>Ready to join?</h2>
            <p>
                Create a free acount in under 30 seconds.No credit <br>
                card required.
            </p>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-primary" type="button">Create your account→</button>
        </div>
        </div>
    </div>
</section>